$font-family-sans-serif: 'Helvetica Neue', Helvetica, system-ui, -apple-system,
  'Segoe UI', Roboto, Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-family-special: interstate, sans-serif;
$headings-font-family: $font-family-special;
$headings-font-weight: 700;

$blue-dark: #001254;
$blue-medium-dark: #001a7a;
$blue: #1450d2;
$blue-light: #009bfa;
$green: #01a49c;
