a.button {
  font-family: $font-family-special;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  display: inline-block;
  padding: 16px 42px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  &:hover {
    background: white;
    color: $blue;
  }
}

@include media-breakpoint-down(md) {
  .container.carousel {
    max-width: 85%;
    margin: 0;
  }
}
.owl-carousel {
  .owl-stage-outer {
    overflow: visible !important;
    .owl-stage {
      display: flex;
      align-items: stretch;
    }
    .owl-item {
      max-width: 85%;
      &:not(.active) {
        transform-origin: top left;
        transform: scale(0.85);
        img {
          filter: blur(4px);
        }
        a {
          pointer-events: none;
        }
      }
      &.active {
        animation-duration: 0.5s;
        animation-name: scaleup;
        animation-iteration-count: 1;
      }
    }
  }
}

@keyframes scaleup {
  from {
    transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}
